[filters]

hidden_kinds=[]
hidden_extensions=[]
custom_extensions=[]

[visibility]

hidden_kinds=[]
hidden_extensions=[]
pack_hidden_resources=false

[display]

theme="godot_dark"
connection_theme="godot_dark"
idle_connection_alpha=0.06
selected_connection_alpha=1.0
colour_overrides={
"connections/synthwave/out": Color(0.8666667, 0.827451, 0.8, 1),
"nodes/blueprint/kind_SCENE": Color(0.38039216, 0.49803922, 0.5411765, 1)
}
gather_relations=false
show_embed_links=true
show_group_reasoning=true

[layout]

node_min_separation=3.0
group_member_min_separation=4.0
group_min_separation=3.0
vertical_layer_separation=10.0
